

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js 3</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="basic-event">

    <h1 v-if="counter">Vue is awesome!</h1>
    <h1 v-else>Oh no 😢</h1>

    <div v-bind:class="{ active: isActive }">文字が赤くなります</div>
    <div :class="{ active: isActive }">文字が赤くなります</div>

    <ul id="array-rendering" class="demo">
      <li v-for="item in items"  :key="item.message">
        <p v-if="item.isShow">

          {{ item.message }}
        </p>
      </li>
    </ul>

    <input v-model="message" placeholder="edit me" />
    <!-- セルフクロージングタグ　/ -->
    <p>Message is: {{ message }}</p>

  </div>

  <script src="https://unpkg.com/vue@3.1.5"></script>
  <script src="js/main.js"></script>
</body>
</html>
  